Repository DoD-Platform-One/bigbang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

kaniko k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

trivy scan k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

promote k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

kaniko go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

trivy scan go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

promote go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

kaniko k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

trivy scan k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

promote k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

test all virtual services
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

small image list
  images.txt
Due: none

removed CI_COMMIT_REF_SLUG from clustername to avoid clustername to long issue
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

logging memory
  examples/complete/envs/dev/patch-bigbang.yaml
Due: none

Docs remote k3d
  docs/developer_setup.md
Due: none

Docs bb 870
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Moves deploy scripts into scripts dir
  scripts/deploy/01_deploy_bigbang.sh
  scripts/deploy/02_wait_for_helmrealeases.sh
Due: none

BB 847
  .gitlab-ci.yml
  examples/complete/envs/dev/patch-bigbang.yaml
  scripts/01_deploy_bigbang.sh
  scripts/02_wait_for_helmrealeases.sh
  scripts/hosts.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

added conditionals for helm install and cypress run
  templates/package-tests.yml
Due: none

added conditional to check if project name contains "istio" if not install istio
  templates/package-tests.yml
Due: none

Update package-tests.yml
  templates/package-tests.yml
Due: none

added command to list all virtual services
  templates/package-tests.yml
Due: none

add a pre-env container with a simple builder
  jobs/pre-envs/Dockerfile
Due: none

Ensure ci workloads are scaled appropriately
  .gitlab-ci.yml
  chart/templates/authservice/authservice-helmrelease.yaml
  chart/templates/monitoring/monitoring-helmrelease.yaml
  scripts/deploy/01_deploy_bigbang.sh
  tests/ci/k3d/values.yaml
  tests/ci/secrets/authservice-config.yaml
  tests/ci/secrets/ingress-cert.yaml
  tests/ci/shared-secrets.yaml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

add jq to k3d-builder
  jobs/k3d-builder/Dockerfile
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder

Add last resort method to bypass MR pipeline gates
  .gitlab-ci.yml
  chart/templates/monitoring/monitoring-helmrelease.yaml
  scripts/deploy/01_deploy_bigbang.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Rebase from previous version check branch and MR
  .gitlab-ci.yml
  scripts/semver_diff.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Changed breaking change handling logic, and testing breaking change
  .gitlab-ci.yml
  chart/Chart.yaml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Moved chart version back to master
  chart/Chart.yaml
Due: none

fixed README
  README.md
Due: none

Overhaul docs with more detail
  docs/0_release_notes.md
  docs/1_overview.md
  docs/2_getting_started.md
  docs/3_encryption.md
  docs/4_configuration.md
  docs/5_deployment.md
  docs/a_faqs.md
  docs/b_troubleshooting.md
  docs/c_development.md
Due: none

adding registry1 user and pass to helm installs
  templates/package-tests.yml
Due: none

testing
  templates/package-tests.yml
Due: none

fixing spelling
  templates/package-tests.yml
Due: none

test
  templates/package-tests.yml
Due: none

registries yaml test
  templates/package-tests.yml
Due: none

missing -v...
  templates/package-tests.yml
Due: none

Add cypress artifacts to the pipeline
  templates/package-tests.yml
Due: none

Path conditions:
  kaniko k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  trivy scan k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  promote k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  kaniko go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  trivy scan go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  promote go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  kaniko k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
  trivy scan k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
  promote k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
