Repository DoD-Platform-One/bigbang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

kaniko k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

trivy scan k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

promote k3d-builder:
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

kaniko go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

trivy scan go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

promote go-dnsmasq:
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

kaniko k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

trivy scan k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

promote k3d-builder-local:
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

test
  templates/package-tests.yml
Due: none

missing "
  templates/package-tests.yml
Due: none

Update package-tests.yml
  templates/package-tests.yml
Due: none

bumping k3d version to 3.4.0
  jobs/k3d-builder/Dockerfile
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder

trying updated version of k3dbuilder
  templates/package-tests.yml
Due: none

Update Dockerfile
  jobs/k3d-builder/Dockerfile
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder

Update repository references to new standard BB repo format
  chart/templates/_helpers.tpl
  chart/templates/argocd/argocd-helmrelease.yaml
  chart/templates/argocd/gitrepository.yaml
  chart/templates/authservice/authservice-helmrelease.yaml
  chart/templates/clusterauditor/clusterauditor-helmrelease.yaml
  chart/templates/clusterauditor/gitrepository.yaml
  chart/templates/gatekeeper/gatekeeper-helmrelease.yaml
  chart/templates/gatekeeper/gitrepository.yaml
  chart/templates/istio/controlplane/gitrepository.yaml
  chart/templates/istio/controlplane/istio-controlplane-helmrelease.yaml
  chart/templates/istio/controlplane/namespace.yaml
  chart/templates/istio/operator/gitrepository.yaml
  chart/templates/istio/operator/istio-operator-helmrelease.yaml
  chart/templates/istio/operator/namespace.yaml
  chart/templates/logging/eck-operator-helmrelease.yaml
  chart/templates/logging/eck-operator/eck-operator-helmrelease.yaml
  chart/templates/logging/eck-operator/gitrepository.yaml
  chart/templates/logging/eck-operator/namespace.yaml
  chart/templates/logging/elasticsearch-kibana/ek-helmrelease.yaml
  chart/templates/logging/elasticsearch-kibana/gitrepository.yaml
  chart/templates/logging/elasticsearch-kibana/namespace.yaml
  chart/templates/logging/fluentbit/fluentbit-helmrelease.yaml
  chart/templates/logging/fluentbit/gitrepository.yaml
  chart/templates/monitoring/monitoring-helmrelease.yaml
  chart/templates/twistlock/gitrepository.yaml
  chart/templates/twistlock/namespace.yaml
  chart/templates/twistlock/twistlock-helmrelease.yaml
  chart/templates/values.yaml
  chart/values.yaml
  tests/ci/k3d/values.yaml
Due: none

Creating a top-level kustomize base for use in Customers/bigbang environment template
  CONTRIBUTING.md
  README.md
  base/gitrepository.yaml
  base/helmrelease.yaml
  base/kustomization.yaml
  base/namespace.yaml
  base/transformer.yaml
  chart/Chart.yaml
  examples/complete/base/gitrepository.yaml
  examples/complete/base/helmrelease.yaml
  examples/complete/base/kustomization.yaml
  examples/complete/envs/dev/kustomization.yaml
  examples/complete/envs/dev/patch-bigbang.yaml
  examples/complete/envs/dev/source-secrets.yaml
  examples/complete/envs/prod/kustomization.yaml
  examples/complete/envs/prod/values/bigbang.yaml
  examples/simple/bigbang.yaml
  hack/.sops.yaml
  hack/bigbang-dev.asc
  hack/flux-install.sh
  hack/secrets/authservice.yaml
  hack/secrets/ingress-cert.yaml
  hack/sops-create.sh
Due: none

test
  .gitlab-ci.yml
  tests/ci/k3d/values.yaml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

hbn
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

wip ensure install jobs are appropriately cleaned
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

k
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

artifact?
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

package
  .gitlab-ci.yml
  scripts/package_images.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

literally stealing zach's work
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

pkg seperately
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

cheat
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

that'll do it
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

y
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

confused
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

new images
  .gitlab-ci.yml
  scripts/package/gits.sh
  scripts/package/images.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

test uploader
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Path conditions:
  kaniko k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  trivy scan k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  promote k3d-builder: any of: .gitlab-ci.yml, jobs/k3d-builder/Dockerfile
  kaniko go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  trivy scan go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  promote go-dnsmasq: any of: .gitlab-ci.yml, jobs/go-dnsmasq/Dockerfile
  kaniko k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
  trivy scan k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
  promote k3d-builder-local: any of: .gitlab-ci.yml, local-dev/k3d-builder-local/Dockerfile
