Repository DoD-Platform-One/bigbang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

.gitlab-ci.yml:

include:
  - local: /jobs/build/base.yml
  - local: /jobs/scan/base.yml
  - local: /jobs/promote/base.yml

stages:
  - build
  - scan
  - promote

# ----------------------------------------------------------------------------------------------
# k3d-builder
# ----------------------------------------------------------------------------------------------
.k3d-builder:
  only:
    changes:
      - .gitlab-ci.yml
      - jobs/k3d-builder/Dockerfile
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

kaniko k3d-builder:
  extends: 
    - .kaniko
    - .k3d-builder

trivy scan k3d-builder:
  extends:
    - .trivy scan
    - .k3d-builder

promote k3d-builder:
  extends:
    - .promote
    - .k3d-builder
    
# ----------------------------------------------------------------------------------------------
# go-dnsmasq
# ----------------------------------------------------------------------------------------------
.go-dnsmasq:
  only:
    changes:
      - .gitlab-ci.yml
      - jobs/go-dnsmasq/Dockerfile
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

kaniko go-dnsmasq:
  extends: 
    - .kaniko
    - .go-dnsmasq

trivy scan go-dnsmasq:
  extends:
    - .trivy scan
    - .go-dnsmasq

promote go-dnsmasq:
  extends:
    - .promote
    - .go-dnsmasq
    
# ----------------------------------------------------------------------------------------------
# k3d-builder-local
# ----------------------------------------------------------------------------------------------
.k3d-builder-local:
  only:
    changes:
      - .gitlab-ci.yml
      - local-dev/k3d-builder-local/Dockerfile
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

kaniko k3d-builder-local:
  extends: 
    - .kaniko
    - .k3d-builder-local

trivy scan k3d-builder-local:
  extends:
    - .trivy scan
    - .k3d-builder-local

promote k3d-builder-local:
  extends:
    - .promote
    - .k3d-builder-local

Removed CAPI Dependencies
  jobs/k3d-builder/Dockerfile
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder

[BB-638] Remove unneeded port maps
  local-dev/local-docker-pipeline/run-pipeline.sh
Due: none

[BB-638] Changing around file names for consistency and clarity
  local-dev/INSTALL-DEPENDENCIES.md
  local-dev/README.md
  local-dev/scripts/container-pipeline.sh
  local-dev/scripts/executor.sh
  local-dev/scripts/local-pipeline.sh
Due: none

Update README.md
  local-dev/README.md
Due: none

Making executor.sh relative to script execution
  local-dev/scripts/container-pipeline.sh
Due: none

moving executor.sh file copy to container
  local-dev/scripts/container-pipeline.sh
Due: none

add ref for branch in umbrella-templates
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Updated links and directions
  README.md
Due: none

getting istio info for building test
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

adds kubeconfig to test
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

increasing wait time
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

adding 5min sleep for LB
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Update package-tests.yml
  templates/package-tests.yml
Due: none

adding istio install
  local-dev/scripts/executor.sh
Due: none

explicitly sets istio lb to be internal lb
  examples/complete/envs/dev/patch-bigbang.yaml
Due: none

adding docker RAM requirement
  local-dev/README.md
Due: none

changing cluster name to account for longer names
  templates/package-tests.yml
Due: none

added simple tests
  .gitlab-ci.yml
  scripts/01_deploy_bigbang.sh
  scripts/02_wait_for_helmrealeases.sh
  tests/bash/01_virtualservices.sh
  tests/bash/02_non_ironbank.sh
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

added branch ref for umbrella-templates
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

testing loop
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

bb-694 fixes directory path
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

adds chmod
  scripts/01_deploy_bigbang.sh
  scripts/02_wait_for_helmrealeases.sh
Due: none

adds chmod for real
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

adds echo statements
  scripts/01_deploy_bigbang.sh
  scripts/02_wait_for_helmrealeases.sh
Due: none

updates wait on script
  scripts/02_wait_for_helmrealeases.sh
Due: none

updates wait time to 500
  scripts/02_wait_for_helmrealeases.sh
Due: none

adds another echo
  scripts/02_wait_for_helmrealeases.sh
Due: none

Removed ref to 'BB-694-1' branch of umbrella-templates
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Updates to local dev w/ istioctl
  local-dev/INSTALL-DEPENDENCIES.md
  local-dev/scripts/executor.sh
  local-dev/scripts/local-pipeline.sh
Due: none

Added package pipeline documentation
  README.md
Due: none

initial image bundle
  .gitlab-ci.yml
  hack/bundle-images.sh
  images.txt
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

bypass first tests
  .gitignore
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

another way to skip
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

run in our docker image
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

increase logging memory
  examples/complete/envs/dev/patch-bigbang.yaml
Due: none

test all virtual services
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local
