Repository DoD-Platform-One/bigbang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

.gitlab-ci.yml:

include:
  - local: /jobs/build/base.yml
  - local: /jobs/scan/base.yml
  - local: /jobs/promote/base.yml

stages:
  - build
  - scan
  - promote

# ----------------------------------------------------------------------------------------------
# k3d-builder
# ----------------------------------------------------------------------------------------------
.k3d-builder:
  only:
    changes:
      - .gitlab-ci.yml
      - jobs/k3d-builder/Dockerfile
  variables:
    DOCKERFILE_DIR: jobs/k3d-builder
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder

kaniko k3d-builder:
  extends: 
    - .kaniko
    - .k3d-builder

trivy scan k3d-builder:
  extends:
    - .trivy scan
    - .k3d-builder

promote k3d-builder:
  extends:
    - .promote
    - .k3d-builder
    
# ----------------------------------------------------------------------------------------------
# go-dnsmasq
# ----------------------------------------------------------------------------------------------
.go-dnsmasq:
  only:
    changes:
      - .gitlab-ci.yml
      - jobs/go-dnsmasq/Dockerfile
  variables:
    DOCKERFILE_DIR: jobs/go-dnsmasq
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/go-dnsmasq

kaniko go-dnsmasq:
  extends: 
    - .kaniko
    - .go-dnsmasq

trivy scan go-dnsmasq:
  extends:
    - .trivy scan
    - .go-dnsmasq

promote go-dnsmasq:
  extends:
    - .promote
    - .go-dnsmasq
    
# ----------------------------------------------------------------------------------------------
# k3d-builder-local
# ----------------------------------------------------------------------------------------------
.k3d-builder-local:
  only:
    changes:
      - .gitlab-ci.yml
      - local-dev/k3d-builder-local/Dockerfile
  variables:
    DOCKERFILE_DIR: local-dev/k3d-builder-local
    DOCKERFILE_NAME: Dockerfile
    IMAGE: $CI_REGISTRY_IMAGE/k3d-builder-local

kaniko k3d-builder-local:
  extends: 
    - .kaniko
    - .k3d-builder-local

trivy scan k3d-builder-local:
  extends:
    - .trivy scan
    - .k3d-builder-local

promote k3d-builder-local:
  extends:
    - .promote
    - .k3d-builder-local

switching to always show artifacts
  templates/package-tests.yml
Due: none

Deploy flux with iron bank images
  base/helmrelease.yaml
  scripts/deploy/01_deploy_bigbang.sh
  scripts/deploy/flux.yaml
Due: none

testing new dind image
  templates/package-tests.yml
Due: none

Add capability for dependencies to be installed in pipeline
  README.md
  templates/package-tests.yml
Due: none

Update tags
  CHANGELOG
  chart/Chart.yaml
  chart/templates/argocd/argocd-helmrelease.yaml
  chart/templates/logging/eck-operator/eck-operator-helmrelease.yaml
  chart/templates/logging/elasticsearch-kibana/ek-helmrelease.yaml
  chart/templates/logging/fluentbit/fluentbit-helmrelease.yaml
  chart/templates/twistlock/twistlock-helmrelease.yaml
  chart/values.yaml
  docs/c_development.md
Due: none

Enable specifying a secret for flux git creds
  chart/templates/_helpers.tpl
  chart/templates/argocd/gitrepository.yaml
  chart/templates/authservice/gitrepository.yaml
  chart/templates/clusterauditor/gitrepository.yaml
  chart/templates/gatekeeper/gitrepository.yaml
  chart/templates/git-credentials.yaml
  chart/templates/istio/controlplane/gitrepository.yaml
  chart/templates/istio/operator/gitrepository.yaml
  chart/templates/logging/eck-operator/gitrepository.yaml
  chart/templates/logging/elasticsearch-kibana/gitrepository.yaml
  chart/templates/logging/fluentbit/gitrepository.yaml
  chart/templates/monitoring/gitrepository.yaml
  chart/templates/twistlock/gitrepository.yaml
  chart/values.yaml
Due: none

Updated monitoring to 11.0.0-bb.2
  CHANGELOG
  chart/Chart.yaml
  chart/values.yaml
Due: none

package with release
  .gitlab-ci.yml
  scripts/package/gits.sh
  scripts/package/synker.Dockerfile
  scripts/package/synker.yaml
  tests/ci/k3d/values.yaml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

bump argocd to 2.9.5-bb.2 to temporarily disable redis-ha dependency
  chart/values.yaml
Due: none

Docs updates
  CHANGELOG
  CONTRIBUTING.md
  README.md
  docs/0_release_notes.md
  docs/1_overview.md
  docs/2_getting_started.md
  docs/3_encryption.md
  docs/4_configuration.md
  docs/5_deployment.md
  docs/b_troubleshooting.md
  docs/c_development.md
Due: none

ensure packaging/release only runs on tagged commits
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

properly sed secrets when running on a tagged build
  scripts/deploy/01_deploy_bigbang.sh
Due: none

Added overview of build status for internal packages
  Packages.md
Due: none

Update c_development.md with additional verbosity.
  docs/c_development.md
Due: none

ensure synker config is also part of the release tarball
  .gitlab-ci.yml
  scripts/package/synker.yaml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

Grafana Virtual Service Bug
  chart/values.yaml
  scripts/hosts.sh
  tests/bash/01_virtualservices.sh
Due: none

bump bigbang to 1.0.0
  chart/Chart.yaml
Due: none

Image dev
  jobs/go-dnsmasq/Dockerfile
  jobs/k3d-builder/Dockerfile
  templates/package-tests.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq

pins umbrella-template version to specific release
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

BB-1078 - Integrate umbrella-templates logic into umbrella, and remove umbrella's dependency on umbrella-templates
  .gitlab-ci.yml
  .gitlab-ci/jobs/k3d/.gitlab-ci.yml
  .gitlab-ci/jobs/networking/aws/.gitlab-ci.yml
  .gitlab-ci/jobs/networking/aws/dependencies/Pipfile
  .gitlab-ci/jobs/networking/aws/dependencies/Pipfile.lock
  .gitlab-ci/jobs/networking/aws/dependencies/get-vpc.py
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/env/ci/ci.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/env/ci/outputs.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/env/ci/variables.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/env/dev/dev.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/env/dev/outputs.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/main/main.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/main/outputs.tf
  .gitlab-ci/jobs/networking/aws/dependencies/terraform/main/variables.tf
  .gitlab-ci/jobs/rke2/.gitlab-ci.yml
  .gitlab-ci/jobs/rke2/dependencies/k8s-resources/aws/default-ebs-sc.yaml
  .gitlab-ci/jobs/rke2/dependencies/packer/README.md
  .gitlab-ci/jobs/rke2/dependencies/packer/packer.json
  .gitlab-ci/jobs/rke2/dependencies/packer/setup.sh
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/ci-airgap/ci-airgap.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/ci-airgap/variables.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/ci/ci.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/ci/variables.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/dev/dev.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/env/dev/variables.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/main/main.tf
  .gitlab-ci/jobs/rke2/dependencies/terraform/main/variables.tf
  .gitlab-ci/templates.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

ci: Modifying and cleaning workflow rules to enforce pipelines for merge requests
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

update to new dns
  README.md
  jobs/build/base.yml
  local-dev/k3d-builder-local/README.md
  local-dev/scripts/container-pipeline.sh
  local-dev/scripts/executor.sh
  local-dev/scripts/local-pipeline.sh
  policies/ironbank-images.rego
  templates/package-tests.yml
Due: none

warning for dsop images
  policies/ironbank-images.rego
Due: none

Add registry.dso(p) as approved but warned, fix warning vars
  policies/ironbank-images.rego
Due: none

Move things around, fix dsop check
  policies/ironbank-images.rego
Due: none

ensure all chart dependencies are explicitly defined (without wildcards) to ensure flux never reaches out for updates
  chart/values.yaml
Due: none

bump to 1.0.1
  chart/Chart.yaml
Due: none

add additional namespace for projects
  templates/package-tests.yml
Due: none

add support within istio-controlplane for provisioning ingressgateways with NodePorts
  chart/Chart.yaml
  chart/values.yaml
Due: none

Sysctl for Elastic
  templates/package-tests.yml
Due: none

ci: attempted fix of ci needs errors
  .gitlab-ci.yml
Due: kaniko k3d-builder, trivy scan k3d-builder, promote k3d-builder, kaniko go-dnsmasq, trivy scan go-dnsmasq, promote go-dnsmasq, kaniko k3d-builder-local, trivy scan k3d-builder-local, promote k3d-builder-local

ci: random test remove dnsmasq
  .gitlab-ci/jobs/k3d/.gitlab-ci.yml
Due: none

chore: test change istio-controlplane back to old version
  chart/values.yaml
Due: none
